body{
    background-color: #18453B;
}
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
    }
.navbar-brand {
    float:none;
    font-size: 48px;}

.navbar{
    background: darkgray;
    color: #18453B;
}

.card{
    background: darkgray;
    color: #18453B;
    margin: 20px;
    padding: 0;
}



.card-header{
    background: darkgray;
    color: #18453B;
}

.list-group{
    margin: 10px;
    border: solid 2px black;
    
}